.filter {
  margin-top: 15px;
  &__content {
    ul {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      li {
        padding: 5px 10px;
        font-weight: 600;
        cursor: pointer;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          width: 0;
          height: 2px;
          background: rgb(8, 4, 106);
          bottom: 0px;
          left: 0;
          transition: all 0.2s;
        }

        &.active::after {
          width: 100%;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
